@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --black: #000000;
  --blackish: #131319;
  --lighter-grey: #202029;
  --lightish-grey: #3c3c48;
  --green: #23cd62;
  --red: #fa5a4d;
  --blurple: #767bfd;
  --plurble: #af5ffa;
  --grey: #8e8d8d;
  --notwhite: #aeaeae;
  --font: "Montserrat", sans-serif;
}

html {
  color: var(--notwhite);
  font-family: var(--font);
}

body {

  background-color: var(--blackish);
  caret-color: var(--notwhite);
  color: var(--notwhite);
}

.tile {
  border-radius: 12px;
  padding: 8px;
  float: left;

  background-color: var(--lighter-grey);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
