.topbar {
    width: 100%;
    height: 6%;
    box-sizing: border-box;
}

.barbutton {
    display: inline-block;
}

.barbutton:hover {
    border-bottom: 2px solid var(--notwhite);
}

.barlink {
    color: var(--notwhite);
    text-decoration: none;
}

.bar-left {
    float: left;
}

.bar-right {
    float: right;
}