:root {
	--hud-bg-color: rgba(128, 128, 134);
	--transparent-hud-bg-color: rgba(128, 128, 134, 0.9);
	--hud-border-color: rgba(72, 72, 78);
	--hud-font-family: 'Segoe UI';
	--background-image: url("../img/bg.png");
}

#canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: var(--background-image);
	z-index: 0;
}

#chatbox {
	position: absolute;
	bottom: 5px;
	left: 5px;
	height: 400px;
	opacity: 0.75;
	width: 356px;
	background-color: var(--transparent-hud-bg-color);
	padding: 5px;
	border: 4px solid var(--hud-border-color);
	z-index: 1;
	border-radius: 7px;
}

#chat {
	overflow-y: scroll;
	color: white;
	height: 365px;
	word-wrap: break-word;
	font-family: var(--hud-font-family);
	z-index: 2;
}

#msg {
	position: absolute;
	color: white;
	bottom: 6px;
	left: 6px;
	width: 346px;
	font-family: var(--hud-font-family);
	background-color: var(--hud-bg-color);
	border: 2px solid var(--hud-border-color);
	z-index: 3;
	border-radius: 3px;
}

#statusbar {
	position: absolute;
	opacity: 0.75;
	bottom: 5px;
	left: 35%;
	width: 30%;
	height: 40px;
	font-family: var(--hud-font-family);
	background-color: var(--hud-bg-color);
	border: 4px solid var(--hud-border-color);
	z-index: 1;
	border-radius: 7px;
}

#position {
	position: relative;
	align-content: center;
	color: white;
	padding: 5px;
	z-index: 2;
}

#velocity {
	position: relative;
	color: white;
	padding: 5px;
	z-index: 2;
}

#srvmsg {
	position: absolute;
	opacity: 0.75;
	bottom: 5px;
	right: 5px;
	width: 356px;
	height: 80px;
	font-family: var(--hud-font-family);
	background-color: var(--hud-bg-color);
	border: 4px solid var(--hud-border-color);
	z-index: 1;
	border-radius: 7px;
}

#content {
	position: relative;
	align-content: center;
	color: white;
	padding: 5px;
	z-index: 2;
}
