body {
    overflow: hidden;
    background-image: url("../img/bg.png");
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

::placeholder {
    color: #bbbbbb;
    opacity: 1; 
}

.box:not(.boxChild) {
    position: absolute;
    background-color: #9999AA;
    color: white;
    border: 5px solid #666677;
    border-radius: 20px;
    opacity: 75%;
}

.boxChild {
    position: absolute;
    background-color: #777788;
    color: white;
    border: 3px solid #555566;
    border-radius: 15px;
    opacity: 1;
}

.centered {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0)
}

.foreground {
    opacity: 0;
    z-index: 1000;
    background-color: #000000;
    width: 100%;
    height: 100%;
}

#home {
    position: absolute;

    padding: 5px;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
}

#logo {
    position: absolute;

    background-image: url("../img/logo.jpg");
    background-size: cover;

    border-radius: 15px;

    padding: 5px;
    height: 15vw;
    width: 30vw;
    top: 15%;
}

#uname {
    width: 20%;
    height: 10%;
    bottom: 15%;
    text-align: center;
    font-size: 2vw;
}

#playbtn {
    width: 10%;
    bottom: 5%; 
    text-align: center;

    font-size: 2vw;
}

#unamelbl {
    bottom: 27.5%;
}

#discLink {
    padding: 5px;
    left: 0px;
    bottom: 0px;

    text-align: center;

    color: #7289DA;
}

#discBox {
    padding: 5px;
    left: 5px;
    top: 5px;
    width: 10%;
    height: 10%;

    font-size: 1vw;
}
